In [ ]:
a=1
print("type of a=",type(a))
b="malavika"
print("type of b=",type(b))
c=1.43
print("type of c=",type(c))
d=[1,2,3,4]
print("type of d=",type(d))

type of a= <class 'int'>
type of b= <class 'str'>
type of c= <class 'float'>
type of d= <class 'list'>